html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.responsive-table {
  min-width: 680px;
}

@media (max-width: 47.99em) {
  .responsive-table {
    min-width: 640px;
  }

  .page-stack {
    gap: var(--mantine-spacing-md);
  }
}
